.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.editProfile-container {
    margin: 0 auto;
    width: 350px;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.editProfile-form .input-wrapper {
    height: 54px;
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
}

.editProfile-form .input-field {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 1.06rem;
    border-radius: 0.31rem;
    border: 1px solid #bfb3f2;
    padding: 0px 1.25rem 0 3.12rem;
    transition: 0.2s ease;
}

.editProfile-form .input-field:focus {
    border-color: #5F41E4;
}

.editProfile-form .input-field::placeholder {
    color: #9284c8;
}

.editProfile-form .input-wrapper .material-symbols-outlined {
    position: absolute;
    top: 50%;
    left: 0.93rem;
    transform: translateY(-50%);
    color: #a395e0;
    font-size: 1.25rem;
    pointer-events: none;
    transition: color 0.2s ease;
}

.editProfile-form .input-field:focus ~ .material-symbols-outlined {
    color: #5F41E4;
}

.editProfile-button {
    border: none;
    outline: none;
    width: 100%;
    height: 54px;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0.31rem;
    background: #5F41E4;
    transition: 0.3s ease;
    margin: auto;
}

.editProfile-button:hover {
    background: #4320df;
}

.loading-message {
    text-align: center;
    color: #666;
    font-size: 1.06rem;
}

@media (max-width: 768px) {
    .editProfile-container {
        width: 90%;
        margin: 0 15px;
    }
}